<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>users</key>
	<array>
		<dict>
			<key>username</key>
			<string>philip</string>
			<key>password</key>
			<string>123</string>
		</dict>
		<dict>
			<key>username</key>
			<string>jhason</string>
			<key>password</key>
			<string>123</string>
		</dict>
		<dict>
			<key>username</key>
			<string>deleon</string>
			<key>password</key>
			<string>123</string>
		</dict>
		<dict>
			<key>username</key>
			<string>winter</string>
			<key>password</key>
			<string>123</string>
		</dict>
		<dict>
			<key>username</key>
			<string>abc</string>
			<key>password</key>
			<string>abc123</string>
		</dict>
	</array>
</dict>
</plist>
